* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #354755;
    background-image: url("../img/bg12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
}

header #title {
    color: white;
    display: none;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    float: right;
    letter-spacing: 5px;
    padding: 15px 15px 0 0;
}    

section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav-menu {
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
}

.nav-menu #close {
    border-radius: 4px;
    color: gray;
    float: right;
    margin: 10px;
}

.nav-menu #close:hover {
    color: white;
    transform: scale(1.3);
}

.nav-menu ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    list-style: none;
    margin-top: 50px;
    padding: 25px;
    text-align: left;
    text-transform: uppercase;
}

.nav-menu ul li {
    /*background-color: rgba(255,255,255,0.5);*/
    border-radius: 4px;
    height: 38px;
    padding: 12px 48px 0 8px;
}

.nav-menu ul li:hover {
    background-color: rgba(36, 47, 61, 1);
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
}

.nav-menu ul li i {
    margin-right: 6px;
}

.landing {
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    font-weight: bold; 
}

.landing h1 {
    margin-top: auto;
    letter-spacing: 14px;
}

h2 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    list-style: none;
}

p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.landing a,
i {
    color: white;
    margin-top: auto;
    margin-bottom: 3vh;
    text-align: center;
    width: 34px;
}

.landing i:hover {
    background-color: rgba(29, 43, 58, 0.2);
    border: 1px dashed rgba(72, 72, 72, 1);
}

.page-flex-container {
    align-items:center;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100vw;
    width: 100vw;
}

.page-flex-container.half-h {
    min-height: 50vh;
}

.page-flex-container.full-h {
    min-height: 100vh;
}

#section_about {
    background-color: rgba(72, 72, 72, 1);
}

.separator {
    background-color: rgba(255,255,255,0.065);
    height: 1px;
    margin: 14px 0 12px 0;
    width: 100%;
}

.rounded-image { border-radius: 50%; }

@media screen and (max-width: 377px) {
    .landing p {
        display: none;
    }

    .landing h1 {
        font-size: 2em !important;
    }
}

@media screen and (max-width: 600px) {
    .page-flex-container, .page-flex-container.full {
        align-items: center;
        padding: 64px 0 0 0;
    }
    h2 {
        font-size: 1.85em;
    }

    p {
        font-size: 0.85em;
    }

    .nav-menu ul {
        padding: 0;
    }
}